/* On retire complètement la position absolue */
.back-button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  /* On s'assure qu'il ne grandit pas pour occuper l'espace */
  flex-shrink: 0;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
}