/* Réinitialisation des styles par défaut du navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Styles globaux pour le corps de l'application */
body {
  background-color: #1a1a1a; 
  color: #fff;
  line-height: 1.6;
}

/* Classe pour le fond d'écran général du site */
.app-background {
  min-height: 100vh;
  width: 100%;
  background-color: #242424; 
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Classe spécifique pour le fond d'écran de la Landing Page */
.landing-background {
  min-height: 100vh;
  width: 100%;
  background-color: #242424; 
  background-image: url('/src/assets/landing.png'); /* On utilise un chemin absolu depuis la racine du projet */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* --- DEBUT DES STYLES POUR MOBILE --- */
@media (max-width: 768px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}
/* --- FIN DES STYLES POUR MOBILE --- */